body {
    padding-top: 60px;
}

tr td input .delete_box:checked {
    background-color: indianred;
}

.fixed {
    position: fixed;
}

.centered {
    text-align: center;
}

.headingLeft {
    text-align: right;
    vertical-align: middle;
}

.scoresTitle {
    text-align:  center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16pt;
    text-decoration: underline;
}

.table tbody tr td {
    vertical-align: middle;
}

tr:hover {
    background-color: #f5f5f5
}

tr:hover th {
    background-color: #ffffff;
}

.homeCourseHeader {
    background-color: #f5f5f5;
}

tr:hover .homeCourseHeader {
    background-color: #f5f5f5;
}

.pointer:hover td {
    background-color: #ffffff;
}

.tableData {
    padding-left: 10%;
    vertical-align: middle;
}

.leftPadFive {
    padding-left: 5%;
}

.relative {
    position: relative;
}

.contentCenter {
    align-content: center;
}

.resultDataTable {
    padding-left: 40%;
}

.resultDataPad {
    padding-left: 0;
    padding-right: 0;
}

.bottomPadTiny {
    padding-bottom: 10px;
}

.noPadLeft {
    padding-left: 0;
}

.leftPadTiny {
    padding-left: 10px;
}

.delete {
    background-color: #F08080;
}

.delete:hover {
    background-color: #F08080
}

.noHover:hover {
    background-color: #ffffff;
}

.noBorders {
    border: none;
}

.scoresHeader {
    text-align: center;
    text-decoration: underline;
}

.viewScoresBtn {

}

.test {
    background-color: red;
}

.pointer {
    cursor: pointer;
}

.nav-item:hover {
    background-color: #e7e7e7;
}

.changePassHeaders {
    text-align: right;
}

.bottomBorder {
    border-bottom: 1px solid #eee;
}

.noBottomMargin {
    margin-bottom: 0;
}

.fixedWidthCell {
    min-width: 125px;
    max-width: 125px;
}

.responsiveOverflow {
    overflow: visible;
    min-width: 150px;
    max-width: 150px;
}

.fixedHeight {
    min-height:  55px;
    max-height: 55px;
    height: 55px;

    /*trying hanging indent*/
    /*padding-left: 90px;*/
    /*text-indent: -5px;*/
}




