
/*http://stackoverflow.com/questions/10336194/twitter-bootstrap-top-nav-bar-blocking-top-content-of-the-page?answertab=votes#tab-top*/
    body {
        padding-top: 40px;
        /*font-size: 8pt;*/
    }

.table tr td {
    /*font-size: 8pt;*/
    /*min-height:  55px;
    max-height: 55px;
    height: 55px;*/
}

.page-header {
    margin-top: 0;
}


tr td input .delete_box:checked {
    background-color: indianred;
}

/*http://stackoverflow.com/questions/18424798/twitter-bootstrap-3-how-to-use-media-queries*/
    @media(min-width:992px){
        .fixed {
            position: fixed;
        }
        .littlePadRight{
            padding-right: 50px;
        }
    }

    @media(max-width:767px) {
        .smallFont {
            font-size: 8pt;
        }
    }

.fixedHeader {
    position: fixed;
}

.centered {
    text-align: center;
}

.headingLeft {
    text-align: right;
    vertical-align: middle;
}

.scoresTitle {
    text-align:  center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16pt;
    text-decoration: underline;
}

.table tbody tr td {
    vertical-align: middle;
}

tr:hover {
    background-color: #f5f5f5
}

tr:hover th {
    background-color: #ffffff;
}

.homeCourseHeader {
    background-color: #f5f5f5;
}

tr:hover .homeCourseHeader {
    background-color: #f5f5f5;
}

.pointer:hover td {
    background-color: #ffffff;
}

.tableData {
    padding-left: 10%;
    vertical-align: middle;
}

.leftPadFive {
    padding-left: 5%;
}

.relative {
    position: relative;
}

.contentCenter {
    align-content: center;
}

.resultDataTable {
    padding-left: 40%;
}

.resultDataPad {
    padding-left: 0;
    padding-right: 0;
}

.noPad {
    padding: 0;
}

.bottomPadTiny {
    padding-bottom: 10px;
}

.noPadLeft {
    padding-left: 0;
}

.leftPadTiny {
    padding-left: 10px;
}

.delete {
    background-color: #F08080;
}

.delete:hover {
    background-color: #F08080
}

.noHover:hover {
    background-color: #ffffff;
}

.noBorders {
    border: none;
}

.scoresHeader {
    text-align: center;
    text-decoration: underline;
}

.viewScoresBtn {

}

.test {
    background-color: red;
}

.pointer {
    cursor: pointer;
}

.nav-item:hover {
    background-color: #e7e7e7;
}

.changePassHeaders {
    text-align: right;
}

.centerMargin {
    margin: 0 auto;
}

.bottomBorder {
    border-bottom: 1px solid #eee;
}

.handicapTable {
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
}

.noBottomMargin {
    margin-bottom: 0;
}

.fixedWidthCell {
    min-width: 125px;
    max-width: 125px;
}

.responsiveOverflow {
    overflow: visible;
    min-width: 150px;
    max-width: 150px;
}



.fixedHeight {
   /* min-height:  55px;
    max-height: 55px;
    height: 55px;*/
}

/*http://stackoverflow.com/questions/17584702/how-to-add-a-scrollbar-to-an-html5-table*/
   /* table.scrollBody {
        display: table;
        width: 100%;
    }
    table.scrollBody thead, table.scrollBody tbody {
        float: left;
        width: 100%;
    }
    table.scrollBody tbody {
        overflow: auto;
        height:100%;
    }
    table.scrollBody tr {
        width: 100%;
        display: table;
        text-align: left;
    }
    table.scrollBody th, table.scrollBody td {
    }*/




