body {
    padding-top: 60px;
}

tr td input .delete_box:checked {
    background-color: indianred;
}

.fixed {
    position: fixed;
}

.centered {
    text-align: center;
}

.headingLeft {
    text-align: right;
    vertical-align: middle;
}

.tableData {
    padding-left: 10%;
    vertical-align: middle;
}

.leftPadFive {
    padding-left: 5%;
}

.relative {
    position: relative;
}

.contentCenter {
    align-content: center;
}

.resultDataTable {
    padding-left: 40%;
}

.bottomPadTiny {
    padding-bottom: 10px;
}

.noPadLeft {
    padding-left: 0;
}

.leftPadTiny {
    padding-left: 10px;
}

